<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CStrings_function.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>memchr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>memcmp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>memcpy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94A512961D9A24F300A24028</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94A512A41D9A479800A24028</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94A512AF1D9A4B6400A24028</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94A512BA1D9A4F7700A24028</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
